/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;800;900&display=swap');
/*stars*/
.blue {
    color: #0065FC;
}
.white { 
    color: grey;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    
}
html, body {
    width: 100%;
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
header {
    padding: 10px;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*------------------------------------Definition de la police-----------------------------------*/


body {    
    font-family: 'Raleway', sans-serif;

}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
h2 {
    font-weight: bolder;
 
}
h3 { 
    font-family: 'Raleway', sans-serif;
    font-weight: bold;   
}
h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 20px;
}
body a {
   
    width: auto;
    height: auto;
    text-decoration: none;
    color: black;
}
#recherche h1{
font-size: x-large;
padding-top: 1em;
}
@media all  and (max-width: 1024px) {
    #recherche h1 {
        font-size:1.5rem;
    }
}



/*#bloc_page> header, #bloc_page> section, #bloc_page> aside { 
    margin: 3em;
    
 }*/


.titre {
    font-family: 'Raleway', sans-serif;

    font-weight: bold;
}
/*
#titre_tendances {
    margin-top: -1em;
    padding:14px;
}*/
#titre_marseille {
    /*margin-bottom: 1em;
    padding-left:1em;
    padding-top: 0em;*/
}
/*-----------------------------------------------header----------------------------------------*/


.logo img {
    margin-bottom: 3em;
}

/*--------------------------------------------header top menu----------------------------------*/
#top_menu {
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
    margin-top: -5em;
}

@media all  and (max-width: 1024px) {
#top_menu li {
    display:inline;
    
    
    }
   .link--hebergement {
       margin-top:-1em;
       margin-right: 14em;
       

   }
   .link--activite {
    margin-top:2em;
    margin-right: 8em;
  
}
}
#top_menu ul{
    list-style-type: none;
    display: flex;   
    align-items: flex-end;
}
#top_menu li {
    margin-right: 1em;    
}
.inscription {
    color: #0065FC;
}
#top_menu a {    
    text-decoration: none; 
    padding-top: 1.3em;    
}


#top_menu a.active {
    color: #0065FC;
    border-top: 10px solid #0065FC;
}
@media all  and (max-width: 1024px) {

    #top_menu a.active {
        border-top: none;
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 1em;
    }
}
#top_menu a:hover{
    border-top: 10px solid #0065FC;
}
@media all  and (max-width: 1024px) {
    #top_menu a:hover{
        border-bottom: 10px solid #0065FC;
    }
}

#recherche p {
    
    margin: 10px auto 25px;
}


/*---------------------------------------------header recherche---------------------------*/

#recherche {
    margin-top: 2em;
}
.submit_recherche {
    font-family:'ralewaythin';
    background-color: #0065FC;
    border-style: hidden;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: -0.5em;
    padding: 12px 12px 14px;
    color: white;
}

.fa-map-marker-alt{
    padding: 13px;
    padding-bottom: 0.95em;
    padding-top: 0.75em;
    background-color:grey;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: -0.1em;
    border-style: hidden;   
}
.input_recherche {
    padding: 12px;   
}

/*-------------------------------------------header filtre---------------------------*/

#filtres {
    display: grid;
    grid-template-columns: 6% 94%;
    padding:50px 0px;   
    align-items: center;
    text-align: center;
    width: 100%;
}
#filtres a {
    text-decoration: none; 
}

#filtres ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;     
}
#filtres li {
    cursor: pointer;
    margin: 5px 0.5em;
    padding-right: 15px;
    border: 2px solid #F2F2F2; 
    border-radius: 40px;
    border-collapse: separate;
    font-weight: bolder;
}
#filtres li:hover {
    box-shadow: 0 4px 4px #8d8987;   
}
.filtre-ico {
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 20px;
    margin-right: 1em;
    border-radius: 100%;  
}

/*--------------------------------------infos nombre de logements*-------------------------------*/

#infos_nombre_logements{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-bottom: 2.5em;
}
.fa-info-circle {
    color: #0065FC;
    margin-right: 10px;
}
#infos_nombre_logements p {
    margin: 0;
}

/*--------------------------------------corps hebergement à Marseille-----------------------------*/

section {
    display: flex;
    flex-direction: row;
    gap: 20px 30px;
   
}
section h2 {
    font-size:23px;
    padding: 0 0 0 20px;
}
section img {
    width: 100%;
    height: 175px;   
    border-radius: 20px;
    object-fit: cover;
}
article {  
    background-color: #F2F2F2;
    margin: 0 0 0 20px;
    padding: 20px 0 0 0;
    width: 60%;
    border-radius: 20px;       
}
@media all  and (max-width: 812px) {
        article { 
            margin:0;
        }
} 
article a {
    color: black;
}
/*
article h3 {
    padding-top: 2em;
}*/

.titre {
    background-color: white;
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 15px 15px;
    height: 65px;
    width: 100%;
    padding-top: 1em;
    margin-bottom: initial;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.prix {
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
    font-size: 0.8em;
    margin-bottom: initial;
    font-weight: normal;
}
.star {    
    background-color: white;
    position: absolute;
    bottom: 5px;      
}

.carte {
    display: flex;
    width: 28%;
    margin: 1.5%;  
    border-radius: 20px;
    border: 5px solid white;
    position: relative;   
    height: auto;
    box-shadow: 0 4px 4px #8d8987;    
    overflow: hidden;  
}

/*--------------------------corps hebergement à Marseille gestion de resize images-----------------*/

#hebergement {
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between; 
    
}








/*-------------------------------------Bloc les plus populaire-------------------------------*/

.tendances {
    display: grid;
    padding: 20px 0 0 0;    
    background-color:#F2F2F2;

    
    border-radius: 20px;
    grid-row-gap: 0.5em;
    width: 35%;   
}
.tendances a {
    text-decoration: none;
    color: black;
}
.tendances li {
    list-style-type: none;
}
.carte_tendance {
    margin:10px;
    border: 5px solid white;
    border-radius: 20px;
    height: 120px;
    box-shadow: 0 4px 4px #8d8987;  
    background-color: white !important;
    overflow: hidden;
}
.tendances img {
    width: 45%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
   
   
}
.titre-tendance {
    width: 50%;
    
    display: inline-block;
    position: relative;
    background-color: white;
    border-radius: 0px 10px 10px 0 ;
    line-height: 1.6;
    vertical-align: top;
    padding-top: 10px;
    font-size: 0.9em;
    font-weight: bold;
   
}
.star-tendance {
    padding-top: 10px;
}
.prix-tendance {
    font-size: 0.8em;
    font-weight: normal;

}



/*-----------------------------------Acitivé à Marseille GRID------------------------------------*/

aside {
    margin:15px;
    border-radius: 20px;
}
aside h2 {
    font-size:23px;
    margin: 1em;
}

.activites{
    display: grid;
    grid-template-columns: repeat(4, 1fr[col-start]);
    grid-template-rows: repeat(2,200px [col-start]);
    gap: 2em;   
}
.activites img{
    border-radius: 20px 20px 0 0;
}
.carte_activite {
    
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 4px #8d8987;  
}

/*-----------------------------------------Titre activités------------------------------------*/

#vieux_port h3 {
    top: 18em;   
    padding-bottom: 2em;
    position: relative;
    background: white;
    border-radius: 0px 0px 20px 20px;
    padding-top: 1em;
    padding-left: 1em; 
    margin-top: 5em;
    font-weight: bold; 
}
#iles_frioul h3 {
    top: 18em;    
    position: relative;
    background: white;
    border-radius: 0px 0px 20px 20px;
    padding-bottom: 2em;
    padding-top: 1em;
    padding-left: 1em;   
    margin-top: 5em;
}
#fort_pomegues h3 {
    top: 9.8em;
    padding-bottom: 0.8em;
    position: relative;
    background: white;
    border-radius: 0px 0px 20px 20px;
    padding-top: 1em;
    padding-left: 1em; 
}
#notre_dame_de_la_Garde h3 {
    top: 8.5em;
    padding-bottom: 2em;
    position: relative;
    background: white;
    border-radius: 0px 0px 20px 20px;
    padding-top: 1em;
    padding-left: 1em; 
    
}
#calanques h3 {
    top: 9.8em;
    padding-bottom: 0.8em;
    position: relative;
    background: white;
    border-radius: 0px 0px 20px 20px;
    padding-top: 1em;
    padding-left: 1em; 
}
#longchamp h3 {
    top: 8.5em;
    padding-bottom: 2em;
    position: relative;
    background: white;
    border-radius: 0px 0px 20px 20px;
    padding-top: 1em;
    padding-left: 1em; 
}

/*--------------------------------------Acitivé à Marseille images----------------------------*/
aside h1 {
    margin-bottom: 1em;
}

#vieux_port {
    grid-column: 1/2;
    grid-row: 1/3;
    position: relative;
    background: url(img/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg) no-repeat;
    background-size: auto;
    background-position-y: -2em;
    cursor: pointer;
}

#fort_pomegues {
    position: relative;
    background: url(img/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg) no-repeat;
    background-size: auto;
    background-position-y: -30em; 
    cursor: pointer;
}
#iles_frioul {
    grid-column: 3/4;
    grid-row: 1/3;
    position: relative;
    background: url(img/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg) no-repeat;
    background-size: auto;
    background-position-x: -10em;
    cursor: pointer;
}
#calanques {
    position: relative;
    background: url(img/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg) no-repeat;
    background-size: auto;
    background-position-y: -7em;
    cursor: pointer;
}
#longchamp {
    position: relative;
    background: url(img/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg) no-repeat;
    background-size: auto;
    background-position-x: -3em;
    background-position-y: -6em;
    cursor: pointer;
}
#notre_dame_de_la_Garde {
    position: relative;
    background: url(img/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-size: auto;
    background-position-y: -4em;
    cursor: pointer;
}


/*--------------------------------------------------footer---------------------------------------*/

footer {
    padding: 4.5em;
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#F2F2F2;
   
   }
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    font-style: italic;
}
footer li {
    list-style-type: none;
    padding-top: 1em;   
}   

/*----------------------------------------Responsive mobile-------------------------------------*/

@media all  and (max-width: 812px) {
    /*#bloc_page> header, #bloc_page> section, #bloc_page> aside {
        margin: 1em;
    }
    #bloc_page> section { 
        margin: 0; 
    }*/
    #top_menu {
        display: flex;        
    }
    #top_menu ul{
        flex-direction: column-reverse;
        flex-wrap: wrap ;
    }
    #top_menu a {
         text-decoration: none;
    } 
    #top_menu a:hover {
        color: #0065FC;
        border-bottom: none;
        border: 0;
    }  
    .line {

        border-bottom:2px solid #F2F2F2;
        padding-top: 1em;
        
        
    }
    #filtres {
        display:flex;
        flex-direction: column;
        display: flex;
        width: 100%;
        
    }

    #filtres ul {
        display: flex;
        flex-wrap: wrap;
    }
 
     section {
         display: flex;
         flex-direction: column;
     }
     section :nth-child(1) { order: 4;}
     section :nth-child(2) { order: 2;}
     section :nth-child(3) { order: 1;}
     section :nth-child(4) { order: 3;}
     .tendances :nth-child(1) {order: 1}
     .tendances :nth-child(2) {order: 2}
     .tendances :nth-child(3) {order: 3}
     .tendances :nth-child(4) {order: 4}
     
     /*-------------------------------------tendances Mobile size*/

     .tendances {
        display: grid;
            
        background-color:#F2F2F2;   
        border-radius: 0;
        grid-row-gap: 0.5em;
        width: 100%;       
    }
    .titre-tendance {   
        font-size: 1em;
        padding-top: 10px;
        padding-bottom: 50px;
        margin-bottom: 100px;
        height: 95px;
        border-radius: 0px 10px 10px 0 ;       
    }
    .star-tendance {
        padding-bottom: 10px;
    }
     .carte_tendance {   
        border: 5px solid white;
        border-radius: 20px;       
        box-shadow: 0 4px 4px #8d8987;  
        margin: 1em;
    }   
    .tendances img {
        width: 43%;
        border-radius: 15px 0 0 15px;
        object-fit: cover;
    }




    /*--------------------------------hebergement à marseille mobile size*/

    article {        
         width: 100%;
         border: none;
         background-color:white;
     }
    #hebergement {
        display: flex;
        flex-direction: column;
        color: darkgoldenrod;
        width: 100%;
     }
   
    .carte {
         width: 95%;
         height: 220px;
         margin-bottom: 1em;
     }
    .titre {
        position: absolute; 
        bottom: 0;
        width: 100%;        
     }
    

    /*--------------------------------------Activités Marseille mobile*/
 
    .activites{
        display: flex;
        flex-direction: column; 
    }
  
    .carte_activite {
        width: 100%;
        height: 200px;
    }
    #vieux_port h3 {
        top: 5em;
        padding-bottom: 0.8em;
        position: relative;
        background: white;
        border-radius: 0px 0px 20px 20px;
        padding-top: 1em;
        padding-left: 1em; 
    }
    #vieux_port {
       
        grid-row: 1/3;
        position: relative;
        background: url(img/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg) no-repeat;
        background-size:  auto;
        background-position-y: -35em;
    }    
    #fort_pomegues {
        position: relative;
        background: url(img/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg) no-repeat;
        background-size: auto;
        background-position-y: -60em; 
        background-position-x:-10em;
        cursor: pointer;
    }
    #iles_frioul h3 {
        top: 5em;
        padding-bottom: 0.8em;
        position: relative;
        background: white;
        border-radius: 0px 0px 20px 20px;
        padding-top: 1em;
        padding-left: 1em; 
    }
    #iles_frioul {
        grid-column: 3/4;
        grid-row: 1/3;
        position: relative;
        background: url(img/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg) no-repeat;
        background-size: auto;
        background-position-y: -20em;
    }
    #calanques {
        position: relative;
        background: url(img/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg) no-repeat;
        background-size: auto;
        background-position-y: -25em;
        cursor: pointer;
    }
    #longchamp {
        position: relative;
        background: url(img/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg) no-repeat;
        background-size: auto;
        background-position-x: -9em;
        background-position-y: -17em;
        cursor: pointer;
    }
/*----------------------------------------footer mobile*/

    footer {
        flex-direction: column;
        }    
    footer h3 {
        margin-top: 1.5em;
    }    
}


@media all  and (max-width: 320px) {

    html {
        margin:0;
        padding:0;
    }

  aside{
      width: 100%;
      margin: 0;
  }
    .filtres__titre {
        width: 100%;
    }
    #top_menu ul{
        width: 100%;
    }

    #top_menu a.active {
        border-top: none;
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 1em;
    }
   .input_recherche { 
       width: 46%;
   }
   .inscription { 
       margin-right: 1.5em;
   }
   .footer { 
       width: 100%;
   }

    

}
.filtres__titre { 
    width: 100%;
    
    text-align: left;
}
@media all  and (max-width: 1024px) {
    .filtres__titre { 
        width: 100%;
        
        text-align: left;
    }
}


#h2__section {
     display:none;
 }
