/*Définition de la police*/


@font-face {
    font-family: 'ralewaythin';
    src: url('fonts/raleway-variablefont_wght-webfont.eot');
    src: url('fonts/raleway-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/raleway-variablefont_wght-webfont.woff') format('woff'),
         url('fonts/raleway-variablefont_wght-webfont.ttf') format('truetype'),
         url('fonts/raleway-variablefont_wght-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {    
    font-family: 'ralewaythin';
}
body h1 {
    font-weight: bolder;
}
#bloc_page {
    width: inherit;
    margin: 3em;
}

/*header*/

header {
    display: flex;
    flex-direction: column;    
}
.logo img {
    margin-bottom: 20px;
}

/*header top menu*/
#top_menu {
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
    margin-top: -5em;
}
#top_menu ul{
    list-style-type: none;
    display: flex;   
    align-items: flex-end;
}
#top_menu li {
    margin-right: 3em;    
}
#top_menu a {
    
    text-decoration: none; 
    padding-top: 3.1em;    
}
#top_menu a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}
.liens-menu a {
    color: #000000;
}
.inscription {
    color: #0065FC;
}
/*header recherche*/

#recherche {
    margin-top: 2em;
}
.submit_recherche {
    font-family:'ralewaythin';
    background-color: #0065FC;
    border-style: hidden;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: -0.5em;
    padding: 15px;
    color: white;

}
.fa-map-marker-alt{
    padding: 13px;
    padding-bottom: 0.95em;
    padding-top: 0.75em;
    background-color:grey;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: -0.1em;
    border-style: hidden;
    
}
.input_recherche {
    padding: 12px;
    
}
/*header filtre*/

#filtres {
    display: flex;
    flex-direction: row;
    padding:20px;
}
#filtres h2 {
    padding-top: 0.5em;
}
#filtres ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;    
}
#filtres li {
    margin-right: 5em;
    padding-right: 15px;
    border: 2px solid grey; 
    border-radius: 40px;
    border-collapse: separate;
    font-weight: bolder;
}
.filtre-ico {
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 20px;
    margin-right: 1em;
    border-radius: 100%;  
}

/*infos nombre de logements*/
#infos_nombre_logements{
    display: flex;
    flex-direction: row;
}
.fa-info-circle {
    color: #0065FC;
    padding: 0.8em;
   
 
}

/*corps hebergement à Marseille*/

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
article {
    background-color: #F2F2F2;
    padding: 2em;
    width: 60%;
    border-radius: 20px;    
}
.titre {
    background-color: white;
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    height: 60px;
    width: 93%;
    padding: 10px;
    margin-bottom: initial;
    font-weight: bolder;
}
.prix {
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
    font-size: 0.8em;
    margin-bottom: initial;
}
.star {    
    position: absolute;
    bottom: 0;   
    margin-bottom: initial;
}
.first-line-hebergement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
    position: relative;
}
.second-line-hebergement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
    position: relative;
}
.carte {
    background-color: magenta;
    border-radius: 20px;
    border: 5px solid white;
    position: relative;
    height: 200px;
    width: 280px;
    box-shadow: 0 4px 4px #8d8987;   
}
.cannebiere{
    background: url(/img/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg) no-repeat;    
}

/*Bloc les plus populaire*/

#tendances{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding: 2em;   
    border-radius: 20px;
    width: 30%;
}
.carte_tendance {
background-color: darkgreen;
border-radius: 20px;
border:5px solid white;
position: relative;
height: 30%;

}


.titre-tendance {
    background-color: cyan;
    position: absolute;
    border-radius: 15px 0px 0px 15px;
    height: 60px;
     
    margin-top: 2em;
    font-weight: bolder;
    margin-left: 13em;
}
.prix-tendance {
    background-color: violet;
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
    font-size: 0.8em;
    margin-bottom: 5em;
    margin-left: 16.3em;
}
.star-tendance {    
    background-color: yellow;
    position: absolute;
    bottom: 0;   
    margin-bottom: 1em;
    margin-left: 13em;
}

#soleil-du-matin {
    background: url(img/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}


   




